# Ignore everything
*

# But not these files...
!.gitignore
!requirements.txt
!README.md
!about.md

!main.py
!utils.py
!logger.py

!unit_registry.py
!tool_registry.py

!forget_recognizer.py
!recall_recognizer.py
!memory_graph.py
!working_memory.py

!units/
!units/*.py

!tools/
!tools/*.py

!doc/
!doc/**/*.md

!wui/
!wui/**/*

!benchmark/
!benchmark/*.py
!benchmark/*.yml
!benchmark/*.yaml
benchmark/tmp/**/*

# !pytest.ini
# !tests/
# !tests/*.py

__pycache__/
