# Ignore everything
*

# But not these files...
!.gitignore
!requirements.txt
!README.md
!about.md

!main.py
!utils.py
!logger.py

!unit_registry.py
!tool_registry.py

!forget_recognizer.py
!recall_recognizer.py
!memory_graph.py
!working_memory.py

!libre_agent/
!libre_agent/**/
!libre_agent/**/*.py

!libre_agent/units/
!libre_agent/units/*.py

!libre_agent/tools/
!libre_agent/tools/*.py

!doc/architecture/*.md

!wui/
!wui/*.py
!wui/static/*.css
!wui/static/*.js
!wui/templates/*.html

!benchmark/
!benchmark/*.py

!benchmark/benchmarks/
!benchmark/benchmarks/**
!benchmark/benchmarks/**/*.yml
!benchmark/benchmarks/**/*.yaml

benchmark/tmp/**/*

!bots/
!bots/*.sh
!bots/Dockerfile
!bots/*.py

# !pytest.ini
# !tests/
# !tests/*.py

__pycache__/
